@charset "utf-8";
/******
Overall look and feel
******/
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #FFC;
}
body {
	background-color: #000;
}
.imagestyle { float: right;}

ul li { margin-top: 15px;}
ul li li { margin-top: 0px;}

/******
Link Styles
******/
a:link {
	color: #0F0;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #0FF;
}
a:hover {
	text-decoration: none;
	color: #FFF;
}
a:active {
	text-decoration: underline;
	color: #F9F;
}

/*******
Header
*******/

header nav ul li { display: inline; border: #0F0 thin solid; padding: 5px; margin-top: 0px;}
header nav ul li a:link { text-decoration: none;}
header nav ul li a:hover { background: #FFC; color: #000;}


/*******
Footer
*******/
footer address { clear: both; border-top: #FFC thin dotted; margin-top: 5px; padding-top: 5px; font-size: .8em;}