/* Element selector */

h1 {
  color: blue;
}

p {
  color: rgb(0, 100, 2);
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

/* Class selector */
.highlight {
  background: yellow;
  padding: 10px;
}

/* ID selector */
#main-title {
  font-size: 2rem;
  color: darkred;
  border-bottom: 2px solid gray;
}
