/********************************************** 
CHANGING THE STYLE OF THE STRUCTURAL ELEMENTS 
**********************************************/ 
body { background: green url(images/bg.gif); } 
body, p { font-family: Verdana, sans-serif;} 
address { font-family: Times New Roman, Times, serif; 
font-size: small;} 
main { display: block;}  /* needed for IE */ 
#mainsection { background: cornsilk; 
border: 3px dotted #000; 
width: 50%; 
margin: 15px auto; 
padding: 15px; } 
nav { background: pink; 
text-align: center; 
width: 75%; 
margin: auto; 
padding: 15px; 
border: 3px double #000;  } 
footer { background: #0ff; 
width: 200px;  
padding: 15px;  
border: 1px solid #000; 
border-radius: 15px;  
text-align: center;} 
/******************************************* 
CHANGING THE STYLE OF THE HEADING ELEMENTS 
*******************************************/ 
h1 { color: red; font-family: Arial, Helvetica, sans-serif; } 
h2 { color: white; font-family: Courier New, monospace; } 
/************** 
MISC CHANGES 
**************/ 
img { border: none;} 
.promote { text-align: center; 
background: yellow;  
border: 1px dotted #000; } 
/******************* 
NAVIGATION CHANGES 
*******************/ 
a { text-decoration: underline;} 
a:link { color: blue;} 
a:visited { color: purple;} 
a:hover { color: red; text-decoration: none;}
 nav a { background: yellow; padding: 5px; border: 1px solid #000; margin: 5px;} 
nav a:hover { background: purple; box-shadow: 10px 5px 5px teal; color: pink} 
nav ul li { display: inline; 
list-style: none;} 