@-moz-viewport {
 width:device-width
}
@-ms-viewport {
 width:device-width
}
@-o-viewport {
 width:device-width
}
@-webkit-viewport {
 width:device-width
}
@viewport {
 width:device-width
}
html,
body,
div,
span,
h1,
h2,
p,
a,
b,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
 border:0;
 margin:0;
 padding:0
}
.clearfix,
#content,
#footer {
 min-height:0
}
.clearfix:after,
#content:after,
#footer:after {
 clear:both;
 content:'.';
 display:block;
 height:0;
 visibility:hidden
}
p,
table {
 margin-bottom:14px;
 margin-bottom:0.875rem
}
.reset {
 list-style:none !important;
 margin:0;
 padding:0
}
input[type="hidden"],
.display_none,
.js .js_display_none {
 display:none
}
a span {
 cursor:pointer
}
b,
strong {
 font-weight:bold
}
.clear {
 clear:both
}
div.clear:not(.no_zero) {
 font-size:0;
 line-height:0px;
 width:100%
}
i,
em {
 font-style:italic
}
a img,
img[usemap] {
 border:0
}
img {
 -moz-force-broken-image-icon:1;
 height:auto;
 -ms-interpolation-mode:bicubic;
 max-width:100%;
 vertical-align:bottom
}
img.fixed,
.ltie9 img {
 max-width:none
}
img.border {
 border:1px solid #003
}
html {
 border:0;
 min-height:100%;
 overflow-y:scroll;
 -ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%
}
@media (min-width: 0.0625em) {
 html {
  overflow-x:hidden
 }
}
html.no-touch {
 -ms-overflow-style:scrollbar
}
body {
 color:#222;
 font-family:"Roboto",sans-serif;
 font-size:14px;
 font-size:0.875rem;
 line-height:1.42857;
 min-height:100%
}
.ie9 body,
.vendor-ie-10 body {
 line-height:1.5
}
body * {
 font-size:1em
}
h1 {
 font-size:50px;
 font-size:3.125rem
}
h2 {
 font-size:16px;
 font-size:1rem
}
h1:first-child,
h2:first-child {
 margin-top:0
}
caption {
 margin-bottom:14px;
 margin-bottom:0.875rem;
 text-align:left
}
table {
 border-collapse:collapse;
 border-spacing:0;
 width:100%
}
td,
th {
 vertical-align:top
}
fieldset {
 border:0;
 min-height:0
}
legend {
 left:-999em;
 position:absolute;
 top:-999em
}
:-moz-placeholder {
 color:#222
}
::-moz-placeholder {
 color:#222
}
:-ms-input-placeholder {
 color:#222
}
::-webkit-input-placeholder {
 color:#222
}
input.placeholder,
textarea.placeholder {
 color:#222
}
label+[placeholder]:focus:-moz-placeholder {
 color:transparent
}
label+[placeholder]:focus::-moz-placeholder {
 color:transparent
}
label+[placeholder]:focus::-webkit-input-placeholder {
 color:transparent
}
input.text,
input[type="text"],
textarea,
select {
 margin:0
}
html:not(.ltie9) input.text:not([disabled]):hover,
html:not(.ltie9) input[type="text"]:not([disabled]):hover,
html:not(.ltie9) textarea:not([disabled]):hover,
html:not(.ltie9) select:not([disabled]):hover {
 background-color:#ffffe5;
 outline:none
}
html:not(.ltie9) input.text:not([disabled]):focus,
html:not(.ltie9) input[type="text"]:not([disabled]):focus,
html:not(.ltie9) textarea:not([disabled]):focus,
html:not(.ltie9) select:not([disabled]):focus {
 background-color:#ffc;
 -moz-box-shadow:0 0 6px rgba(82,168,236,0.5);
 -webkit-box-shadow:0 0 6px rgba(82,168,236,0.5);
 box-shadow:0 0 6px rgba(82,168,236,0.5);
 outline:none
}
input.text.form_error,
input.form_error[type="text"],
textarea.form_error,
select.form_error {
 border-color:#c00 !important
}
.touch label {
 cursor:pointer
}
input.text,
input[type="text"],
label {
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 display:block;
 font-family:"Roboto",sans-serif;
 line-height:normal;
 width:100%
}
input.text,
input[type="text"],
label {
 vertical-align:top
}
input.text,
input[type="text"] {
 background:#fff;
 border:1px solid #c3c3c3
}
input.text,
input[type="text"] {
 -webkit-appearance:none
}
input.text,
input[type="text"] {
 font-size:16px;
 font-size:1rem
}
.no-touch input.text,
.no-touch input[type="text"] {
 font-size:14px;
 font-size:0.875rem
}
body {
 font-weight:300
}
a {
 color:#35825a;
 text-decoration:none
}
a:visited {
 color:#34a9b4;
 text-decoration:none
}
a:hover,
a:focus {
 color:#b5367d;
 text-decoration:underline
}
h1 {
 color:#3c3c3c;
 font-weight:700;
 line-height:normal;
 margin:28px 0 7px;
 margin:1.75rem 0 0.4375rem
}
h1 {
 background:#3c3c3c;
 background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRo PSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNl cnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzUy MiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9 IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNTU1 IiBvZmZzZXQ9IjAiIC8+PHN0b3Agc3RvcC1jb2xvcj0iIzNjM2MzYyIgb2Zm c2V0PSIxIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIg d2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNTIyKSIgLz48L3N2 Zz4= ");
 background:-moz-linear-gradient(top , #555 0%, #3c3c3c 100%);
 background:-webkit-linear-gradient(top , #555 0%, #3c3c3c 100%);
 background:linear-gradient(to bottom , #05a1ff 0%, #0c93e461 100%);
 -pie-background:linear-gradient(top , #555 0%, #3c3c3c 100%);
 color:#fff;
 font-family:"bebas",sans-serif;
 font-weight:400;
 line-height:1;
 margin-bottom:0;
 padding:14px 20px;
 padding:0.875rem 1.25rem;
 position:relative;
 text-align:center
}
h1 a {
 background:#fff;
 -webkit-border-radius:50%;
 border-radius:50%;
 color:#333;
 display:inline-block;
 height:23px;
 height:1.4375rem;
 font-family:"Roboto",sans-serif;
 font-size:20px;
 font-size:1.25rem;
 font-weight:400;
 text-align:center;
 vertical-align:middle;
 width:23px;
 width:1.4375rem
}
h1 a:hover,
h1 a:focus {
 background:#333;
 color:#fff;
 text-decoration:none
}
h2 {
 margin:20px 0 7px;
 margin:1.25rem 0 0.4375rem
}
.js table {
 visibility:hidden
}
.jquery table {
 visibility:visible
}
td,
th {
 border:solid #ebebeb;
 border-width:1px 0;
 padding:15px 20px;
 padding:0.9375rem 1.25rem;
 text-align:left;
 text-shadow:0 1px 1px #fff;
 width:13%
}
td.sorting_1,
th.sorting_1 {
 background:#fafafa;
 border-color:#e6e6e6
}
td:first-child,
th:first-child {
 width:30%
}
td:nth-child(2),
th:nth-child(2) {
 width:18%
}
td:nth-child(3),
th:nth-child(3) {
 display:none
}
.ltie9 td:nth-child(3),
.ltie9 th:nth-child(3) {
 display:table-cell
}
@media (min-width: 37.5em) {
 td:nth-child(3),
 th:nth-child(3) {
  display:table-cell
 }
}
td:nth-child(3) {
 -webkit-hyphens:auto;
 -moz-hyphens:auto;
 hyphens:auto;
 -ms-word-break:break-all;
 word-break:break-all;
 word-break:break-word
}
thead,
tfoot {
 -moz-box-shadow:0 1px 2px rgba(0,0,0,0.15);
 -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
 box-shadow:0 1px 2px rgba(0,0,0,0.15)
}
thead th,
tfoot th {
 background:#f5f5f5;
 background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRo PSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNl cnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzUy MiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9 IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZm IiBvZmZzZXQ9IjAiIC8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgb2Zm c2V0PSIxIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIg d2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNTIyKSIgLz48L3N2 Zz4= ");
 background:-moz-linear-gradient(top , #fff 0%, #f5f5f5 100%);
 background:-webkit-linear-gradient(top , #fff 0%, #f5f5f5 100%);
 background:linear-gradient(to bottom , #0aa2fe 0%, #c7eaff 100%);
 -pie-background:linear-gradient(top , #fff 0%, #f5f5f5 100%);
 color:#003;
 font-weight:400;
 padding-right:10px;
 padding-right:0.625rem
}
thead th.sorting,
tfoot th.sorting {
 cursor:pointer
}
thead th>span,
tfoot th>span {
 display:block;
 padding-right:20px;
 padding-right:1.25rem;
 position:relative
}
thead th.sorting_asc,
thead th.sorting_desc,
tfoot th.sorting_asc,
tfoot th.sorting_desc {
 background:#e9e9e9;
 background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRo PSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNl cnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzUy MiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9 IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZm IiBvZmZzZXQ9IjAiIC8+PHN0b3Agc3RvcC1jb2xvcj0iI2U5ZTllOSIgb2Zm c2V0PSIxIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIg d2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNTIyKSIgLz48L3N2 Zz4= ");
 background:-moz-linear-gradient(top , #fff 0%, #e9e9e9 100%);
 background:-webkit-linear-gradient(top , #fff 0%, #e9e9e9 100%);
 background:linear-gradient(to bottom , #0aa2fe 0%, #c7eaff 100%);
 -pie-background:linear-gradient(top , #fff 0%, #e9e9e9 100%)
}
thead th.sorting_asc>span:after,
thead th.sorting_desc>span:after,
tfoot th.sorting_asc>span:after,
tfoot th.sorting_desc>span:after {
 border-color:transparent transparent #c5c5c5 transparent;
 border-color:rgba(197,197,197,0) rgba(197,197,197,0) #c5c5c5 rgba(197,197,197,0);
 border-style:solid;
 border-width:0 6.5px 8px 6.5px;
 content:'';
 display:inline-block;
 height:0;
 -webkit-transform:rotate(360deg);
 width:0;
 margin-top:-4px;
 position:absolute;
 right:0;
 top:50%
}
thead th.sorting_desc>span:after,
tfoot th.sorting_desc>span:after {
 border-color:#c5c5c5 transparent transparent transparent;
 border-color:#c5c5c5 rgba(197,197,197,0) rgba(197,197,197,0) rgba(197,197,197,0);
 border-style:solid;
 border-width:8px 6.5px 0 6.5px;
 -webkit-transform:rotate(360deg)
}
thead span span,
tfoot span span {
 display:none;
 white-space:nowrap
}
.ltie9 thead span span,
.ltie9 tfoot span span {
 display:inline
}
@media (min-width: 51.875em) {
 thead span span,
 tfoot span span {
  display:inline
 }
}
tfoot {
 -moz-box-shadow:0 1px 2px rgba(0,0,0,0.15) inset;
 -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15) inset;
 box-shadow:0 1px 2px rgba(0,0,0,0.15) inset
}
.no-keys tfoot {
 display:none
}
tfoot b {
 font-weight:400
}
.no-touch tfoot b {
 border-bottom:1px dashed;
 cursor:help
}
tr:nth-child(even) td,
tr:nth-child(even) th {
 background:#f8f8f8
}
tr:nth-child(even) td.sorting_1,
tr:nth-child(even) th.sorting_1 {
 background:#f3f3f3
}
label {
 margin-bottom:5px;
 margin-bottom:0.3125rem
}
input.text,
input[type="text"] {
 -webkit-border-radius:7px;
 border-radius:7px;
 padding:8px;
 padding:0.5rem
}
#site {
 font-size:14px
}
#content {
 overflow-x:auto;
 overflow-y:hidden;
 width:100%
}
@-moz-keyframes target {
 0% {
  background:#ffc
 }
 100% {
  background:#fff
 }
}
@-o-keyframes target {
 0% {
  background:#ffc
 }
 100% {
  background:#fff
 }
}
@-webkit-keyframes target {
 0% {
  background:#ffc
 }
 100% {
  background:#fff
 }
}
@keyframes target {
 0% {
  background:#ffc
 }
 100% {
  background:#fff
 }
}
#footer {
 border-top:1px solid #c5c5c5;
 margin-top:30px;
 margin-top:1.875rem;
 padding:20px 20px 0;
 padding:1.25rem 1.25rem 0
}
#footer:target {
 -moz-animation:target 2s ease;
 -o-animation:target 2s ease;
 -webkit-animation:target 2s ease;
 animation:target 2s ease
}
#footer p:last-child {
 margin-bottom:0;
 margin-top:28px;
 margin-top:1.75rem
}
.dataTables_length {
 display:none
}
.dataTables_filter {
 background:#f8f8f8;
 padding:20px;
 padding:1.25rem
}
.dataTables_filter label,
.dataTables_filter input {
 margin:0
}
.dataTables_info {
 padding:0 20px;
 padding:0 1.25rem;
 margin-bottom:14px;
 margin-bottom:0.875rem
}
.ltie9 .dataTables_info {
 float:left;
 margin-bottom:0
}
@media (min-width: 36.25em) {
 .dataTables_info {
  float:left;
  margin-bottom:0
 }
}
.dataTables_paginate {
 padding:0 20px;
 padding:0 1.25rem
}
.ltie9 .dataTables_paginate {
 float:right
}
@media (min-width: 36.25em) {
 .dataTables_paginate {
  float:right
 }
}
.dataTables_paginate a {
 color:#787878;
 cursor:pointer;
 display:inline-block;
 padding:0 7px 2px;
 padding:0 0.4375rem 0.125rem
}
.dataTables_paginate a:hover,
.dataTables_paginate a:focus {
 background:#787878;
 color:#fff;
 text-decoration:none
}
.dataTables_paginate a.paginate_active {
 background:#787878;
 color:#fff
}
.dataTables_paginate a.paginate_button_disabled {
 background:none;
 color:#c5c5c5;
 cursor:text
}
@media (max-width: 35em) {
 .fixedHeader {
  display:none
 }
}
a.icon {
 position:relative
}
a.icon:before {
 background:#d1d1d1;
 -webkit-border-radius:50%;
 border-radius:50%;
 content:'';
 display:inline-block;
 height:14px;
 margin-right:5px;
 margin-right:0.3125rem;
 position:relative;
 top:2px;
 width:14px
}
.vendor-mozilla a.icon:before,
.vendor-opera a.icon:before {
 top:1px
}
a.icon:hover:before,
a.icon:focus:before {
 background:#b5367d
}
a.icon.mine:after {
 background:#fff;
 -webkit-border-radius:50%;
 border-radius:50%;
 content:'';
 height:6px;
 left:4px;
 margin-top:-3px;
 position:absolute;
 top:50%;
 width:6px
}
.vendor-ie a.icon.mine:after {
 margin-top:-2px
}
a.icon.add span:before {
 background:#fff;
 content:'';
 height:2px;
 left:3px;
 margin-top:-1px;
 position:absolute;
 top:50%;
 width:8px
}
a.icon.add span:after {
 background:#fff;
 content:'';
 height:8px;
 left:6px;
 margin-top:-4px;
 position:absolute;
 top:50%;
 width:2px
}
a.icon.download:after {
 border-color:#fff transparent transparent transparent;
 border-color:#fff rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
 border-style:solid;
 border-width:5px 4px 0 4px;
 content:'';
 display:inline-block;
 height:0;
 -webkit-transform:rotate(360deg);
 width:0;
 left:3px;
 margin-top:-2px;
 position:absolute;
 top:50%
}
@media print {
 *,
 *:before,
 *:after {
  background:none !important;
  behavior:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
  box-shadow:none !important
 }
}

/*
     FILE ARCHIVED ON 07:22:04 Feb 24, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:17:10 Jul 23, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 1378.814 (3)
  exclusion.robots: 0.367
  CDXLines.iter: 9.41 (3)
  captures_list: 1744.033
  load_resource: 860.556
  PetaboxLoader3.datanode: 1378.796 (4)
  esindex: 0.015
  RedisCDXSource: 189.682
  exclusion.robots.policy: 0.352
  PetaboxLoader3.resolve: 620.627 (2)
*/
